@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Varela";
  src: url(../public/fonts/VarelaRound-Regular.ttf);
}

:root {
  --background: rgb(0, 0, 0);
  --colorO: rgb(187, 255, 0);
  --colorX: rgb(255, 0, 191);
  --colorGrid: blueviolet;
  --colorWhite: white;
  --colorBlack: black;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: "Varela";
}
